<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="preload" href="/static/styles/doc.css" as="style"/>
		<link rel="preload" as="image" href="/static/assets/1.jpeg">
		<link rel="preload" as="image" href="/static/assets/0.jpeg">
		<link rel="stylesheet" href="/static/styles/doc.css">
	</head>
	
	
	<body>
		<!-- <div class="bar">2. Verifica tu informacion antes de guardar</div> -->
		<div class="guardar" onclick="getPDF()"><!-- <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
			<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/><path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/></svg>
			<p>GUARDAR</p> -->
			<form id="datos" action="/api/gen_pdf" method="POST" target="_self">
				<input type="hidden" name="name" value="{{ nombre }}">
				<input type="hidden" name="ID" value="{{ boleta }}">
				<input type="hidden" name="phone" value="{{ telefono }}">
				<input type="hidden" name="personal_email" value="{{ mail }}">
				<input type="hidden" name="admission_year" value="{{ ingreso_a }}">
				<input type="hidden" name="credit_total" value="{{ total_creditos }}">
				<input type="hidden" name="aproved_num" value="{{ acreditadas }}">
				<input type="hidden" name="number_semester" value="{{ num_periodos }}">
				<input type="hidden" name="school_email" value="{{ mail_escuela }}">
				<input type="hidden" name="admission_month" value="{{ ingreso_m }}">
				<input type="hidden" name="academic_program" value="{{ carrera }}">
			</form>
		</div>
		<main>
			<section class="formSection currentSection">
				<label class="formInput">
                    Nombre:
                    <input type="text" name="nombre" placeholder="Nombre completo" id="0" value="{{ nombre }}"/>
                </label>
                <label class="formInput">
                    Número de boleta:
                    <input type="text" name="boleta" placeholder="# de boleta" id="1" value="{{ boleta }}"/>
                </label>
			</section>
			<section class="formSection">
				<label class="formInput">
                    Usuario Correo Institucional:
                    <input type="text" name="correo_institucional" placeholder="Usuario@alumno.ipn.mx" id="0" value=""/>
                </label>
                <label class="formInput">
                    Correo Personal:
                    <input type="email" name="correo_personal" placeholder="usuario@ejemplo.com" id="3" value="{{ mail }}"/>
                </label>
				<label class="formInput">
                    Número Telefónico:
                    <input type="tel" name="telefono" placeholder="5512365478" id="2" value="{{ telefono }}"/>
                </label>
			</section>
			<section class="formSection">
				<label class="formInput">
                    Mes y año de ingreso:
                    <input type="month" name="startDate" value="{{ ingreso_a }}-01"/>
                </label>
			</section>
			<section class="formSection">
				<label class="formInput">
                    Mes y año de ingreso:
                    <input type="hidden" name="num_periodos" value="0"/>
                </label>
				<div class="optionsContainer">
					<span class="numberOption" onclick="selecPeriodo(1)">1</span>
					<span class="numberOption" onclick="selecPeriodo(2)">2</span>
					<span class="numberOption" onclick="selecPeriodo(3)">3</span>
					<span class="numberOption" onclick="selecPeriodo(4)">4</span>
					<span class="numberOption" onclick="selecPeriodo(5)">5</span>
					<span class="numberOption" onclick="selecPeriodo(6)">6</span>
					<span class="numberOption" onclick="selecPeriodo(7)">7</span>
					<span class="numberOption" onclick="selecPeriodo(8)">8</span>
					<span class="numberOption" onclick="selecPeriodo(9)">9</span>
					<span class="numberOption" onclick="selecPeriodo(10)">10</span>
					<span class="numberOption" onclick="selecPeriodo(11)">11</span>
					<span class="numberOption" onclick="selecPeriodo(12)">12</span>
				</div>
			</section>
			<section class="formSection">
				<label class="formInput">
					Unidades acreditadas:
					<input type="number" placeholder="#" name="mat_acreditadas" oninput="calcCociente();" value="{{ acreditadas }}"/>
				</label>
				<label class="formInput">
					Unidades acreditadas / Cantidad de Periodos:
					<input type="number" name="cociente" value="0"  step="0.01">
				</label>
			</section>
			<section class="formSection">
				<label class="formInput">
					Programa Académico:
					<input type="hidden" name="carrera" value="0">
				</label>
				<div class="programOptionsContainer">
					<span class="programOption" onclick="selecCarrera(1)">Tronco común de la L.F. y M.</span>
					<span class="programOption" onclick="selecCarrera(2)">Opción en Matemáticas</span>
					<span class="programOption" onclick="selecCarrera(3)">Opción en Física</span>
					<span class="programOption" onclick="selecCarrera(4)">Opción en Ing. Nuclear</span>
					<span class="programOption" onclick="selecCarrera(5)">Opción en Matemática Educativa</span>
					<span class="programOption" onclick="selecCarrera(6)">Ing. Matemática</span>
					<span class="programOption" onclick="selecCarrera(7)">Matemática Algorítmica</span>
				</div>
			</section>
			<section class="formSection">
				<label class="formInput">
					Créditos obtenidos hasta el momento:
					<input type="number" name="creditos_totales" oninput="calcI()" value="{{ total_creditos }}"  step="0.01">
				</label>
				<label class="formInput">
					Indicador I:
					<input type="number" name="indicador_i" value="0" step="0.01">
				</label>
			</section>
			<!-- <section class="formSection">

			</section>
			<section class="formSection">

			</section>
			<section class="formSection">

			</section> -->
			<section class="navButtons">
				<button class="navButton" id="prevButton" onclick="prevSection()">Anterior</button>
				<button class="navButton" id="nextButton"  onclick="nextSection()">Siguiente</button>
				<button class="navButton" id="saveButton" onclick="getPDF()">Guardar</button>
			</section>
			<section class="hoja">
				<!-- <header>
					<img style="float:left;width: 10%;height: 15%;" src="https://www.ipn.mx/assets/files/imageninstitucional/imagenes/identidad/LOGO-POLIGUINDA-PANTONE222.png"/>
					<div class="cabecera">
						<p><b>INSTITUTO POLITECNICO NACIONAL</b></p>
						<p>ESCUELA SUPERIOR DE FISICA Y MATEMATICAS</p>
						<p>Formato de carga Académica para Reinscripción</p>
						<p><b>Periodo Escolar 24/1</b></p>
					</div>
					<img style="float: right;width:10%;height: 15%;" src="https://www.esfm.ipn.mx/assets/files/esfm/img/ESCUDO_ESFM.png"/>
				</header> -->
				<div class="contenedor" style="text-align: right;">
					<p>Ciudad de México a <input type="number" id="dia" style="width: 50px;"> de 
						<select id="mes" name="mes">
							<option value="0">enero</option>
							<option value="1">febrero</option>
							<option value="2">marzo</option>
							<option value="3">abril</option>
							<option value="4">mayo</option>
							<option value="5">junio</option>
							<option value="6">julio</option>
							<option value="7">agosto</option>
							<option value="8">septiembre</option>
							<option value="9">octubre</option>
							<option value="10">noviembre</option>
							<option value="11">diciembre</option>
						</select>
					de <input type="number" id="year" style="width:90px;"></p>
				</div>

				<!-- <table>
					<tr>
						<td style="text-align:left;">Total de créditos obtenidos hasta el momento:</td>
						<td style="border-left: 2px solid #000;"><input type="text" placeholder=" " style="width:100%;" value="{{ total_creditos }}"></td>
					</tr>
				</table> -->


				<!-- <table class="tbl_ind">
					<colgroup>
					<col>
					<col span="3">
					<col style="width:1%;border: 2px solid #000;">
					<col style="width: 1%;">
					</colgroup>
					<tr style="border: 2px solid #000;">
						<td colspan="4" style="font-size:1.1em;">Cálculo del indicador I, fórmula: </td>
						<td>Valor numérico de I</td>
						<td colspan="2" style="font-size:1.1em;">La reinscripción continúa si:</td>
					</tr>
					<tr>
						<td rowspan="3" style="white-space: nowrap;font-size:1.5em;">I=</td>
						<td>Total de créditos del programa académico</td>
						<td>-</td>
						<td>Total de créditos obtenidos hasta el momento</td>
						<td rowspan="3"></td>
						<td rowspan="3" style="white-space: nowrap;font-size:1.5em;">I ≤</td>
						<td rowspan="3">Carga media de su programa académico</td>
					</tr>
					<tr>
						<td colspan="3"><hr style="width: 90%;"></td>
					</tr>
					<tr>
						<td></td>
						<td colspan="3">12 − Cantidad de periodos escolares desde el ingreso</td>
						
					</tr>
				</table> -->



			</section>
		</main>
	</body>
	<script>
		const fecha = new Date();

		const formSections = Array.from(document.querySelectorAll('.formSection'));
		const periodOptions = Array.from(document.querySelectorAll('.optionsContainer > .numberOption'));
		const programOptions = Array.from(document.querySelectorAll('.programOptionsContainer > .programOption'));
		formSections[1].classList.add('nextSection');

		function nextSection() {
			let nextSection = document.querySelector('.formSection.nextSection');
			let currentSection = document.querySelector('.formSection.currentSection');
			if(formSections.indexOf(nextSection) == 1){
				document.querySelector('.navButtons').style.justifyContent = 'space-between';
				document.querySelector('#prevButton').style.display = 'block';
			}
			if(formSections.indexOf(nextSection) == formSections.length-1){
				document.querySelector('#nextButton').style.display = 'none';
				document.querySelector('#saveButton').style.display = 'block';
			} else {
				formSections[formSections.indexOf(nextSection)+1].classList.add('nextSection');
				document.querySelector('#nextButton').style.display = 'block';
				document.querySelector('#saveButton').style.display = 'none';
			}
			nextSection.classList.remove('nextSection');
			nextSection.classList.add('currentSection');
			currentSection.classList.remove('currentSection');
			if(document.querySelector('.prevSection') != null) {
				document.querySelector('.prevSection').classList.remove('prevSection')
			}
			currentSection.classList.add('prevSection');
		}

		function prevSection() {
			let prevSection = document.querySelector('.formSection.prevSection');
			let currentSection = document.querySelector('.formSection.currentSection');

			prevSection.classList.remove('prevSection');
			prevSection.classList.add('currentSection');
			currentSection.classList.remove('currentSection');
			if(formSections.indexOf(prevSection) == 0){
				document.querySelector('.navButtons').style.justifyContent = 'flex-end';
				document.querySelector('#prevButton').style.display = 'none';
			} else {
				formSections[formSections.indexOf(prevSection)-1].classList.add('prevSection');
				document.querySelector('#nextButton').style.display = 'block';
				document.querySelector('#saveButton').style.display = 'none';
			}
			if(formSections.indexOf(prevSection) == formSections.length-2){
				document.querySelector('#nextButton').style.display = 'block';
				document.querySelector('#saveButton').style.display = 'none';
			}
			if(document.querySelector('.nextSection') != null) {
				document.querySelector('.nextSection').classList.remove('nextSection')
			}
			currentSection.classList.add('nextSection');

		}

		function calcCociente(){
			let a = document.getElementsByName("mat_acreditadas")[0].value;
			let b = document.getElementsByName("num_periodos")[0].value;
			if(a <= 0 || b <= 0){
				return;
			};
			document.getElementsByName("cociente")[0].value = a/b;
		};

		function calcI(){
			const credits = {
				1: 312,
				2: 312,
				3: 316,
				4: 309,
				5: 318,
				6: 336,
				7: 394
			}
			let a = credits[document.getElementsByName("carrera")[0].value];
			let b = document.getElementsByName("creditos_totales")[0].value;
			let c = document.getElementsByName("num_periodos")[0].value;
			if(a <= 0 || b <= 0 || c <= 0){
				return;
			};
			document.getElementsByName("indicador_i")[0].value = (a-b)/(12-c);
		};

		function selecPeriodo(num){
			if(periodOptions.some(({classList}) => classList.contains('selected'))) {
				document.querySelector('.optionsContainer > .numberOption.selected').classList.remove('selected');
			}
			periodOptions[num-1].classList.add('selected');
			document.getElementsByName("num_periodos")[0].value = num;
			calcCociente()
			
		};
		function selecCarrera(num){
			if(programOptions.some(({classList}) => classList.contains('selected'))) {
				document.querySelector('.programOptionsContainer > .programOption.selected').classList.remove('selected');
			}
			programOptions[num-1].classList.add('selected');
			document.getElementsByName("carrera")[0].value = num;
			calcI();
			//alert(num);
			//console.log(document.getElementsByClassName("esp_chk"))
			/* Object.entries(document.getElementsByClassName("esp_chk")).forEach(function(element) {
				element[1].style.border = "3px solid #000";
				if(element[1].dataset.carrera == num){
					element[1].style.backgroundImage = "url('/static/assets/1.jpeg')";
				}else{
					element[1].style.backgroundImage = "url('/static/assets/0.jpeg')";
				};
			}); */

		};

		function getPDF(){
			document.getElementsByName('name')[0].value = document.getElementsByName('nombre')[0].value;
			document.getElementsByName('ID')[0].value = document.getElementsByName('boleta')[0].value;
			document.getElementsByName('phone')[0].value = document.getElementsByName('telefono')[0].value;
			document.getElementsByName('school_email')[0].value = document.getElementsByName('correo_institucional')[0].value;
			console.log(document.getElementsByName('correo_personal')[0].value)
			document.getElementsByName('personal_email')[0].value = document.getElementsByName('correo_personal')[0].value;
			document.getElementsByName('admission_year')[0].value = document.getElementsByName('startDate')[0].value;
			document.getElementsByName('admission_month')[0].value = document.getElementsByName('startDate')[0].value;
			document.getElementsByName('credit_total')[0].value = document.getElementsByName('creditos_totales')[0].value;
			document.getElementsByName('aproved_num')[0].value = document.getElementsByName('mat_acreditadas')[0].value;
			document.getElementsByName('number_semester')[0].value = document.getElementsByName('num_periodos')[0].value;
			document.getElementsByName('academic_program')[0].value = document.getElementsByName('carrera')[0].value;
			let form = document.getElementById("datos");
			form.submit();
			//alert("TODO: Enviar al navegador el PDF generado en memoria")
			//let link = document.createElement("a");
    		//link.download = name;
    		//link.href = uri;
    		//link.click();
			//eliminar link
			//mostrar boton ir al inicio oseguir editango timeout 6 seg
		}

		window.addEventListener('load', function () {
			document.getElementById("dia").value = fecha.getDate();
			document.getElementById("year").value = fecha.getFullYear();
			document.getElementById("mes").value = fecha.getMonth();
			selecPeriodo("{{ num_periodos }}");
			calcCociente()
			calcI();
		})



	</script>
</html>