/*	
TODO: Remmplazar el color rojo  #fa2053 por alguna
gama de azul o naranja para las personas con daltonismo
*/
body{
	display: flex;
	flex-flow: column nowrap;
	background-color: #ccc;
	padding: 0;
	margin:0;
	overflow: hidden;
}
main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	height: 100vh;
	justify-content: flex-end;
	padding-bottom: 10vh;
	box-sizing: border-box;
}
header{
	text-align: center;
	margin-bottom: 40px;
}
table{
	margin-bottom: 30px;
	width: 100%;
	border-collapse: collapse;
	border: 2px solid #000;
}
td {
	padding: 4px 5px 4px 5px;
}
.bar{
	color: #fff;
	font-size:1.3em;
	padding:0.7em;
	background-color: #6c1d45;
	margin-bottom: 10px;
}
.guardar{
	font-size: 0.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	color:#fff;
	position: fixed;
	bottom:0;
	background-color: #9e005c;
	padding:10px;
	border-radius: 16px;
	margin: 20px;
	right: 0;
}
.guardar svg{
	color: #fff;
	width: 50px;
}
.cabecera{
	display: inline-block;
}
.cabecera p{
	line-height: 0.5em;
}
.contenedor{
	width: 100%;
	display: none;
}
.contenedor input{
	border-bottom:2px solid #000;
}
.nb_cnt td{
	padding-bottom: 10px;
}
.nb_cnt input{
	width: 100%;
}
.ct_cnt p {
	display: inline-block;
	margin: 0px;
	width: 100%;
}
.ct_ma input{
	width:100%;
}
.ct_ma td{
	padding-bottom: 5px;
}
.ct_cnt td {
	padding-bottom: 10px;
}
.select_periodo td:not(:first-child){
	border: 2px solid #fa2053;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.sel_ma input{
	text-align: center;
	font-size: 1.5em;
	width: 50%;
}
.cociente_inp{
	text-align: center;
	width: 100%;
	margin: 0px;
	box-sizing: border-box;
	font-size: 2em;
}
.tbl_creditos td{
	border: 2px solid #000;			
}
.esp_cnt{
	padding:5px;
}
.esp_chk{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border:3px solid #fa2053;
	aspect-ratio: 1/1;
}
.tbl_ind{
	font-size: 0.9em;
}

.hoja {
	display: none;
}

.hoja input[type=text]{
	border:2px solid #fff;
	border-bottom: 2px solid #000;
}
.hoja input:placeholder-shown {
	border-radius: 10px;
	 border: 2px solid #fa2053;
}

.formSection {
	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    border: 1px solid #000;
    border-radius: 1rem;
    padding: 3rem;
    width: 60%;
    box-sizing: border-box;
    position: absolute;
    bottom: 40%;
	translate: 100vw 0;
	opacity: 0;
}

.formSection.currentSection {
	translate: 0 0;
	opacity: 1;
	transition: translate 1s ease-in-out;
}

.formSection.nextSection {
	translate: 100vw 0;
	transition: 1s ease-in-out;
}

.formSection.prevSection {
	translate: -100vw 0;
	transition: 1s ease-in-out;
}

.formInput {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    font-family: sans-serif;
}

.formInput input {
	padding: 0.5rem;
	border-radius: 1rem;
	color: #000;
}

.navButton {
	padding: 1rem;
    font-size: 1rem;
    background-color: #fff;
    border: none;
    border-radius: 1rem;
    box-shadow: 1px 1px #000;
}
.navButtons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 60%;
	background: transparent;

}

.navButton:active {
	box-shadow: 0px 0px #000;
}

.navButton:hover {
	cursor: pointer;
}

#prevButton {
	display: none;
}

#saveButton {
	display: none;
}

.optionsContainer {
	grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.numberOption {
	width: 100%;
    height: 100%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: .5rem;
}

.numberOption:hover {
	cursor: pointer;
}

.numberOption.selected {
	color: #fff;
	background-color: #666;
}

.numberOption.selected:hover {
	cursor: auto;
}

.programOptionsContainer {
	grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.programOption {
	width: 100%;
    height: 100%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
	padding: .5rem 0;
}

.programOption:hover {
	cursor: pointer;
}

.programOption.selected {
	color: #fff;
	background-color: #666;
}

.programOption.selected:hover {
	cursor: auto;
}